[submodule "ext/ant-javacard"]
	path = ext/ant-javacard
	url = https://github.com/promovicz/ant-javacard.git
	branch = master
[submodule "dep/commons-codec"]
	path = dep/commons-codec
	url = https://github.com/apache/commons-codec.git
[submodule "ext/javacard-sdks"]
	path = ext/javacard-sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks.git
